*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: sans-serif;
}
body{
  display: flex;
  align-items: start;
  justify-content: center;
  min-height: 100vh;
  background: #f7cf4a;

}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
    gap: 10px;
    padding: 10px;
    /* max-width: 1050px; */
    
}
section{
  background-color: #fff;
  border-radius: 7px ;

}
.tools-board{
  width: 200px;
  padding: 15px 22px 0;
  height: 100%;

}
.tools-board .row{
  margin-bottom: 20px;

}
.row .options{ 
    list-style: none;
    margin:10px 0 0 5px ;
}
.row .options .option{
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 10px;
}
.option:is(:hover, .active) img{
  filter:invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}

.option:where(span, label){
  color: #5A6168;
  cursor: pointer;
  padding-left: 10px;
}
.option #fill-color{
  cursor: pointer;
  height: 14px;
  width: 14px;
}
#fill-color:checked ~ label{
  color:#4A98F7;
}
.option #size-slider{
  width: 100%;
  height: 5px;
  margin-top: 10px;

}
.colors .options{
  display: flex;
  justify-content:space-between ;
}
.colors .option{
  height: 20px;
  width: 20px;
  background: red;
  border-radius: 50%;
  margin-top: 3px;
  position: relative;

}
.colors .option:nth-child(1){
  background-color: #fff;
  border: 1px solid #bfbfbf;
}
.colors .option:nth-child(2){
  background-color: #000;
}
.colors .option:nth-child(3){
  background-color: #e02020;
}
.colors .option:nth-child(4){
  background-color: #6dd400;
}
.colors .option:nth-child(5){
  background-color: #4a98f7;
}

.colors .option.selected::before{
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  background: inherit;
  border-radius: inherit;
  border: 2px solid #fff;
  transform: translateX(-50%) translateY(-50%);

}

.colors .option:first-child.selected::before{
  border-color: #ccc;
}
.option #color-picker{
  opacity: 0;
  cursor: pointer;
}

.buttons button{
   width: 100%;
   color:#fff ;
   border: none;
   outline: none;
   padding: 11px 0;
   font-size: 0.9rem;
   margin-bottom: 13px;
   background: none;
   border-radius: 5px;
   cursor: pointer;

}




.buttons .clear-canvas{
    color: #454546;
    border:1px solid #0669c0;
    transition: all 0.3s ease;

}
/* .clear-canvas:hover{
  color:#fff;
  background: #5f5f5f;
} */
.buttons .save-img{
    background: #00941b;
    border:1px solid #00941b;

}

.buttons .change-background{

  background: #4af76a;
  border:1px solid #4af76a;

}
.buttons .undo{
  color: #000;
  background: #f7cf4a;
  border:1px solid #f7cf4a;

}
.buttons .move-item{
  color: #000;
  background-color: #1ae6e6;
}
.buttons .draw-again{
  color: #000;
  background-color: #1ae6e6;
}
.buttons #label-add-picture{
  display: block;
  background-color: gray;
  margin-top: 5rem 0;
  padding: 1rem 2rem;
    border: 1px solid greenyellow;
    color: #000;
    width: 100%;
    cursor: pointer;
}


.drawing-board{
  flex: 1;

}
.drawing-board #canvas-1{
  width:100% ;
  height: 100%;
  position: relative;
  z-index: 3;
}


.drawing-board #canvas-2{
  border:10px solid rgb(15, 255, 87);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;

}

